@font-face {
	font-family: MyFont;
	src: url(../font/HelveticaNeue.otf);
}
@font-face {
	font-family: MyFontBold;
	src: url(../font/HelveticaNeue-Bold.otf);
}

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

body{
	font-family: MyFont;
	background:#26262A;
}

a{
	cursor: pointer;
}

.col-menu{
	position: fixed;
	right: 0;
	height: 100%;
	background-color: rgba(224, 224, 235, 0.3);
	z-index: 100;
}

.col-menu .profile-picture{
	text-align: center;
	margin-top: 20px;
}

.col-menu .profile-picture p.name{
	font-size: 25px;
	font-family: MyFont;	
	text-align: center;
	font-weight: bold;
	background: linear-gradient(
		60deg,
		rgb(230, 230, 230) 10%,
		rgb(217, 217, 217) 25%,
		rgb(204, 204, 204) 50%,
		rgb(166, 166, 166) 75%,
		rgb(140, 140, 140) 90%
		);
	color: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: 25s BeProud linear infinite,
	3s Always ease alternate infinite;
}

@keyframes BeProud {
	100% { background-position: 100vw 0px; }
}

@keyframes Always {
	100% { transform: scale(1.1);}
}

.col-menu .profile-picture img{
	max-width: 150px;
	border-radius: 50%;
}

.col-menu ul{
	list-style-type: none;
	margin-top: 20px;
	transition: all 3s;
}


.col-menu li{
	padding: 10px 0;
	font-size: 20px;
}

.progress{
	transform: rotate(-90deg);
	position: absolute;
	width: 100%;
	left: 0;
} 

.col-menu li a{
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-family: 'Dosis', sans-serif;
}

@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}

	to {
		-webkit-mask-position: -50%;
	}
}

.col-menu li a.effect-underline:after {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.col-menu li a.effect-underline:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.fa-angle-left{
	font-size: 25px;
	padding-right: 10px;
	color: #fff;
}

.main{
	padding-right: 0;
	padding-left: 0;
}

.main .cover-img{
	position: relative;
	background-image: url("../img/top_page.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 700px;
}

.main .cover-img p{
	text-align: center;
	padding-top: 180px;
	font-size: 50px;
}


.text-top-page{
	padding-top: 200px;
	color: #fff;
	position: relative;
	display: flex;
	padding-left: 100px;
}


.text-top-page h1 { 
	font-size: 70px;
	margin: 0; 
	text-align: center;
}	

.marker {
	position: absolute;
	top: 196px;
	left: 105px;
	height: 5px;
	width: 42px;
	background-color: rgb(235,235,235);
	animation-name: marker;
}

.marker, .r, .e1, .s1, .s2, .e2 {
	animation-timing-function: cubic-bezier(0.15,-0.01, 0.58, 1);
	animation-duration: 7s;
	animation-iteration-count: infinite;
	will-change: transform;
}

.r { margin-left: 1rem;   animation-name: r; }
.e1 { margin-left: 7rem; animation-name: e1; }
.s1 { margin-left: 16rem; animation-name: s1; }
.s2 { margin-left: 21rem; animation-name: s2; }
.e2 { margin: 0 36rem 0 42rem; animation-name: e2; }

@keyframes r { 
	0%, 20% { transform: translateX(0); }
	50%, 70% { transform: translateX(25px); }
}
@keyframes e1 { 
	0%, 20% { transform: translateX(0); }
	50%, 70% { transform: translateX(50px); }
}
@keyframes s1 { 
	0%, 20% { transform: translateX(0); }
	50%, 70% { transform: translateX(75px); }
}
@keyframes s2 { 
	0%, 20% { transform: translateX(0); }
	50%, 70% { transform: translateX(100px); }
}
@keyframes e2 { 
	0%, 20% { transform: translateX(0); }
	50%, 70% { transform: translateX(125px); }
}
@keyframes marker { 
	0%, 20% { transform: translateX(0); }
	50%, 70% { transform: translateX(315px); }
}

.main .cover-img img{
	width: 100%
}

.main .cover-img video{
	width: 100%;
}

.main .cover-img .blur{
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	background: rgba(166, 166, 166, 0.6);
}

.main .quote{
	background: #EDEEEF;
	text-align: center;
	padding: 150px 0;
}

.quote-block{
	display: none;
	
}

.blockquote{
	font-size: 30px;
}

.blockquote span{
	padding-left: 40%;
}

.blockquote-footer{
	text-align: right;
	padding-right: 20%;
}

.main .project-list{
	display: inline-block;
	width: 100%;
	background-image: url("../img/bg-project.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 50px;
}

.main .project-list p.title{
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: MyFontBold
}

figure.effect-moses p{
	text-align: center !important;
	font-family: Raleway, Arial, sans-serif;
}

figure.effect-moses p a{
	color: white;
	padding: 5px 10px;
	border: 1px solid #fff;
	font-size: 25px;
}


figcaption h2{
	color: #ff884d;
}

.contact{
	padding-bottom: 200px;
	text-align: center;
	position: relative;
	height: 500px;
}

.contact p.title{
	font-size: 50px;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: MyFontBold;
}

.contact a{
	color: #fff;
	font-size: 40px;
}

.contact .text{
	position: relative;
}

.contact .link-profile{
	position: absolute;
	bottom: 0;
	top: 50%;
	left: 50%;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 160px;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-size: 50px;
	line-height: 50px;
	color: #ecf0f1;
}
.content__container {
	font-weight: 600;
	overflow: hidden;
	height: 50px;
	padding: 0 40px;
}

.content__container:after,
.content__container:before {
	position: absolute;
	top: 0;
	color: #16a085;
	font-size: 42px;
	line-height: 40px;
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.content__container__text {
	display: inline;
	float: left;
	margin: 0;
}

.content__container__list {
	margin-top: 0;
	text-align: center;
	list-style: none;
	-webkit-animation-name: change;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
.content__container__item {
	line-height: 40px;
	margin: 0;
}

@-webkit-keyframes opacity {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes change {
	0%,
	12.66%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%,
	29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,
	45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,
	62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,
	79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,
	95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@-o-keyframes opacity {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@-o-keyframes change {
	0%,
	12.66%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%,
	29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,
	45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,
	62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,
	79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,
	95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@-moz-keyframes opacity {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@-moz-keyframes change {
	0%,
	12.66%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%,
	29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,
	45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,
	62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,
	79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,
	95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@keyframes opacity {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes change {
	0%,
	12.66%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%,
	29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,
	45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,
	62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,
	79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,
	95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

#progress-bar {
    width: 100%;
    background-color: #ddd;
}
#progress {
    width: 1%;
    height: 40px;
    background-color: #4CAF50;
}